body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.post-link {
    text-decoration: none;
}

header{
    min-height: 350px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/banner.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    color:white;
}

header>*{
    z-index: 12;
}

header::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color:rgba(0,0,0,0.7);
}

.profile-image{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 10px;
    background-image: url(/assets/profile.png);
    background-size: cover;
}

.profile-name{
    font-size: 3em;
    font-weight: bold;
}

.subtext{
    margin-top: 8px;
}

.main{
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.main-container{
    max-width: 750px;
    min-width: 600px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.post{
    display: flex;
    border: 1px solid #eaecee;
    min-height: 200px;
    border-radius: 10px;
    transition: all 0.15s;
    overflow: hidden;
}

.post:hover{
    transform: scale(1.02);
}

.post-image{
    flex-basis: 40%;
    background-image: url(/assets/code.jpg);
    background-size: cover;
    background-position: center;
}
.post-content{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    padding: 24px;
}
.post-date{
    color: #adb5bd;
    font-size: 12px;
    font-weight: 600;
}

.post-title{
    margin-top: 16px;
    font-size: 1.5em;
    color:#333;
    font-weight: 600;
}

.post-title h4{
    margin: 0;
}

.post-text{
    margin-top:4px;
    font-size: 1em;
    color: #495057;
    font-weight: 400;
    line-height: 1.4;
    max-height: 65px;
    overflow: hidden;
}

footer {
    min-height: 100px;
    background-color: #eaecee70;
    color: #929eaa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 14px;
}